.trades {
  width: 100vw;
  min-width: 100vw;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 25;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.itemsScroll {
  overflow-y: scroll;
}

@media only screen and (min-width: 700px) {
  .trades {
    width: 30%;
    min-width: 30%;
  }
}
