@value colors: "../../colors.css";
@value light-blue, light-gray from colors;

.mobileMenu {
  display: flex;
  height: 40px;
  line-height: 40px;
  background-color: light-blue;
  z-index: 100;
  font-size: 13px;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 25;
}

.item {
  padding: 0 15px;
  border-left: 1px solid light-gray;
  cursor: pointer;
}

.selected {
  font-weight: 500;
  background-color: white;
}

@media only screen and (min-width: 700px) {
  .mobileMenu {
    display: none;
  }
}
