@value colors: "../../colors.css";
@value chat-blue, gray from colors;

@keyframes received {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  font-size: 11px;
  display: flex;
  padding: 5px 15px;
  animation: received 0.2s 1 ease;
}

.avatar {
  margin-right: 5px;
  align-self: flex-end;
  padding-bottom: 15px;
}

.content {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  line-height: 1.6em;
  color: #222;
  border-radius: 7px;
  border-bottom-left-radius: 0px;
}

.usermessage {
  flex-direction: row-reverse;
}

.usermessage .avatar {
  margin-right: 0;
  margin-left: 5px;
}

.usermessage .content {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0px;
  color: white;
  background-color: chat-blue;
  border: none;
}

.usermessage .date {
  text-align: right;
}

.usermessage .avatar {
  pointer-events: none;
}

.name {
  font-size: 10px;
}

.date {
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}

.right {
  display: table;
}

.image {
  width: 150px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  border-radius: 5px;
}

a {
  color: white;
}
