@value colors: "../../colors.css";
@value blue-gray, green from colors;
.chatinput {
  display: flex;
  max-height: 50px;
  min-height: 50px;
  background-color: white;
  border: 1px solid #ccd;
  padding: 10px;
  align-items: center;
}

.clip {
  width: 20px;
  margin-right: 10px;
  padding-top: 5px;
  opacity: 0.5;
}

.clip label {
  cursor: pointer;
}

.clip input {
  display: none;
}

.input {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  outline: none;
  border: none;
  border-width: 1px;
  margin-right: 10px;

  white-space: pre;
  word-break: break-word;
}

.send {
  padding-top: 2px;
}

.send input {
  padding: 5px 15px;
  color: green;
  border: 0 none;
  cursor: pointer;
  font-weight: 800;
  background-color: white;
  transition: color 0.5s ease;
}

.send input:hover {
  color: #0a9;
}

.inputWrapper {
  width: 100%;
}

.sending {
  opacity: 0;
  animation: sending-animation 0.5s infinite;
}

@keyframes sending-animation {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
