.contentWraper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300vw;
  transition: transform 0.2s ease;
}

.showList {
  transform: translateX(0);
}

.showChat {
  transform: translateX(-400px);
}

.showInfo {
  transform: translateX(-800px);
}

@media only screen and (min-width: 370px) {
  .showList {
    transform: translateX(0);
  }

  .showChat {
    transform: translateX(-100vw);
  }

  .showInfo {
    transform: translateX(-200vw);
  }
}

@media only screen and (min-width: 500px) {
  .content {
    top: 140px;
  }
  .showList {
    transform: translateX(0);
  }

  .showChat {
    transform: translateX(-100vw);
  }

  .showInfo {
    transform: translateX(-200vw);
  }
}

@media only screen and (min-width: 700px) {
  .showList {
    transform: translateX(0);
  }

  .showChat {
    transform: translateX(0);
  }

  .showInfo {
    transform: translateX(0);
  }

  .content {
    width: 100vw;
    top: 90px;
  }
}
