.disconnectbg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);

  z-index: 200;
}

.disconnect {
  position: fixed;
  top: 90px;
  left: 20px;
  width: 150px;
  padding: 10px;
  font-size: 14px;
  background-color: red;
  color: white;
  box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.75);
  line-height: 1.5em;
}

.disconnect a {
  display: block;
  font-size: 12px;
  color: white;
}
