@value colors: "../colors.css";
@value light-gray, light-blue from colors;

.chat {
  background-color: light-blue;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100vw;
  min-width: 100vw;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  margin-top: auto;
}

.input {
  max-height: 70px;
  min-height: 70px;
  font-size: 12px;
  padding: 10px 10px;
}

@media only screen and (min-width: 700px) {
  .chat {
    width: 100%;
    min-width: 0;
  }
}
