@value colors: "../../colors.css";
@value light-blue, light-gray from colors;

.filter {
  display: flex;
  font-size: 10.5px;
  font-weight: 500;
  justify-content: space-between;
  padding: 20px 15px;
  margin: 0;
  background-color: light-blue;
  border-top: 1px solid light-gray;
  border-bottom: 1px solid light-gray;
}

.filterType {
  text-transform: uppercase;
  cursor: pointer;
  color: gray;
}

.selected {
  font-weight: bolder;
  color: black;
}
