@value colors: "../../colors.css";
@value dark-blue from colors;

.header {
  padding: 20px;
  font-size: 12px;
  z-index: 20;
  border-bottom: 1px solid #eee;
  display: flex;
  font-weight: 500;
  color: #777;
  max-height: 80px;
  min-height: 80px;
}

.left {
  width: 100%;
}
.right {
  padding-top: 10px;
}

.deleteIcon {
  width: 27px;
  height: 25px;
  padding: 5px 7px;
  color: white;
  border-radius: 50%;
  background-color: rgba(0, 0, 30, 0.3);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.deleteIcon:hover {
  background-color: rgba(0, 0, 30, 0.6);
}

.deleteIcon svg {
  fill: white;
}

.positive {
  color: green;
}
.negative {
  color: red;
}

.payment {
  font-size: 14px;
  padding-bottom: 10px;
  color: dark-blue;
}

.name {
  display: inline;
}

.rating {
  display: inline;
  padding-left: 10px;
}
