@value colors: "../colors.css";
@value gray, green, red, light-gray, blue-gray, dark-gray from colors;

.tradeinfo {
  width: 100vw;
  min-width: 100vw;
  font-size: 12px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 25;
}

.userInfo {
  font-size: 13px;
  text-align: center;
  color: dark-gray;
  line-height: 1.4em;
  margin-top: 10px;
}

.userInfo a {
  color: dark-gray;
}

.date {
  color: gray;
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.release {
  cursor: pointer;
  background-color: green;
  width: 140px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 13px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #3ec580;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.release:hover {
  background-color: #3ec580;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.payed {
  background-color: gray;
  border-color: gray;
  pointer-events: none;
  opacity: 0.5;
}

.table {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.table > div {
  width: 50%;
  padding: 10px 10px 15px;
  border-bottom: 1px solid light-gray;
  text-align: center;
  font-weight: 500;
}
.table > div:nth-child(even) {
  border-left: 1px solid light-gray;
}
.tableHeader {
  font-size: 11px;
  white-space: nowrap;
  font-weight: 600;
  margin: 5px 0 10px;
  color: black;
}

.positive {
  color: green;
}
.negative {
  color: red;
}

.status {
  text-transform: uppercase;
  color: green;
}

.hash {
  color: gray;
}

.amount {
  color: gray;
  font-size: 11px;
  white-space: nowrap;
}

.footerItem {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  padding: 10px 0 10px;
  border-bottom: 1px solid light-gray;
}

.footerHeader {
  color: blue-gray;
  padding-bottom: 5px;
}
.footerItem a {
  color: #777;
  font-size: 9px;
}

@media only screen and (min-width: 700px) {
  .tradeinfo {
    width: 30%;
    min-width: 30%;
  }
}
