.avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: lightgray;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  display: inline-block;
}
