@value colors: "../colors.css";
@value dark-blue, light-gray from colors;

.header {
  background-color: dark-blue;
  color: white;
  padding: 10px 15px 10px 20px;
  font-size: 23px;
  letter-spacing: 0.3em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 70px;
  position: relative;
  z-index: 30;
}

.menu {
  font-size: 13px;
  line-height: 2.2em;
  letter-spacing: normal;
  display: flex;
}

.menuItem {
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.menuItem:hover {
  text-decoration: underline;
}

.subheader {
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  height: 80px;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid light-gray;
  background-color: white;
}

.subheaderItem {
  width: 33%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid light-gray;
  border-bottom: 1px solid light-gray;
  color: dark-blue;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.5s ease;
}

.subheaderItem:last-child {
  border-right: 1px solid light-gray;
}

.subheaderItem:hover {
  text-decoration: underline;
  background-color: light-gray;
}

@media only screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    height: 50px;
  }

  .menu {
    margin-left: auto;
  }

  .subheader {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .subheaderItem {
    width: auto;
    padding: 0 20px;
    flex: none;
    border-bottom: 0;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .subheaderItem {
    width: auto;
    flex: 1;
    border-bottom: 0;
  }

  .subheader {
    height: 40px;
  }
}
