@value colors: "../colors.css";
@value orange from colors;

.userpanel {
  font-size: 14px;
  padding: 30px 20px 20px;
  display: flex;
  min-height: 70px;
  height: 70px;
}

.nameContainer {
  padding-left: 10px;
  transform: translateY(-17px);
}

.username {
  font-weight: 500;
}

.userrole {
  color: orange;
  font-size: 13px;
  text-transform: capitalize;
}

.curent {
  font-size: 10px;
  color: #777;
  margin-bottom: 3px;
}
